# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = PLACEHOLDER
	email = PLACEHOLDER
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = current
[alias]
	co = checkout
