# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jon Mellman
	email = jonmellman@gmail.com
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[core]
	excludesfile = /Users/home/.gitignore_global
[alias]
	co = checkout
[init]
	defaultBranch = main
