# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jon Mellman
	email = jon.mellman@afreshtechnologies.com
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
[alias]
	co = checkout
